
################################################################################
# GITIGNORE FILE
################################################################################

desktop.ini

build/
final/
temp/
assets/generated/